<app-header></app-header>
<div class="container-fluid bg-body-secondary bg-gradient vh-100">
  <div class="row align-items-center">
    <div class="col-2 bg-primary-subtle vh-100">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 vh-100">
      <div class="row justify-content-between m-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-3 p-2 mt-3">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Menu Principal</a></li>
            <li class="breadcrumb-item active" aria-current="page">Definições de Pagamento</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-5">
            <div class="card">
                <h2 class="m-3"><i class="fa-solid fa-barcode me-2"></i>Dados Boleto</h2>
                <ul class="list-group list-group-flush m-3">
                    <li class="list-group-item">Nome do Avalista: <p>GOOGLE INTERNET</p></li>
                    <li class="list-group-item">Beneficiário: <p>GOOGLE INTERNET</p></li>
                    <li class="list-group-item">CNPJ: <p>{{ invoice.cpfCnpj }}</p></li>
                    <li class="list-group-item">Sacado <p>{{ invoice.nomeCliente }}</p></li>
                  </ul>
            </div>

        </div>
        <div class="col-5">
            <div class="card">
                <h2 class="m-3"><i class="fa-solid fa-qrcode me-2"></i>Dados PIX - QRCode</h2>
                <ul class="list-group list-group-flush m-3">
                    <li class="list-group-item">Nome do Avalista: <p>JONATHAN AMARANTE TORRES</p></li>
                    <li class="list-group-item">Tipo de Chave: <p>{{ invoice }}</p></li>
                    <li class="list-group-item">Chave Pix: <p>{{ invoice.chavePix }}</p></li>
                    <li class="list-group-item">Cidade: <p>{{ invoice.cidade }}</p></li>
                    <li class="list-group-item">Código da transferência: <p>FEIRAO2023BR</p></li>
                  </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
