@import "../../styles.scss";

.alert-font {
  font-size: 14px;
  color: gray;
}

.paymentCard {
  font-size: 14px;
  line-height: 4px;
}

.scroll-container {
  height: 500px;
  overflow-y: auto;
}

.item {
  height: 100px;
}

.card-invoice {
  height: 300px;
}

