<app-header></app-header>
<div class="container-fluid bg-body-secondary bg-gradient vh-100">
    <div class="row align-items-center">
        <div class="col-2 bg-primary-subtle vh-100">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 vh-100">
            <div class="row justify-content-between m-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 p-2">
                        <li class="breadcrumb-item"><a routerLink="/attendant">Menu Principal</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Painel Gerador Boleto - PIX / Atendente
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-3 mt-4">
                    <div class="card">
                        <div class="alert alert-info m-4" role="alert">
                            <h5><i class="fa-solid fa-circle-info"></i>Atenção</h5>
                            <p class="alert-font">Após preencher os dados do boleto, aguarde a liberação do operador.</p>
                        </div>
                        <div class="card m-3">
                            <button class="btn btn-outline-info fw-bolder mb-2" routerLink="invoice"><i class="fa-solid fa-barcode me-2"></i>Emitir Boleto de Pagamento</button>
                            <button class="btn btn-outline-info fw-bolder" routerLink="pix"><i class="fa-solid fa-qrcode me-2"></i>Emitir Pix de Pagamento</button>
                        </div>
                    </div>
                </div>
                <div class="col-7 mt-4">
                    <div class="card">
                        <div class="alert alert-warning m-3" role="alert">
                            <p class="ms-3">Aguardando Emissão de Pagamentos</p>
                        </div>
                        <h2 class="ms-3">Pagamentos Emitidos</h2>
                        <div class="card m-3 paymentCard">
                            <p class="fw-bold mt-4 ms-4">RICARDO TADEU SPERLONGO </p>
                            <p class="ms-4">897.646.880-55 - R$ 100,00 (Qua, 11 de Out de 2023 às 8:30) 
                                <a routerLink="/attendant/invoice" class="btn btn-outline-info ms-5 me-1"><i class="fa-solid fa-pen"></i></a>
                                <a routerLink="#" class="btn btn-outline-info me-1"><i class="fa-solid fa-file-pdf"></i></a>
                                <a routerLink="#" class="btn btn-outline-info me-1"><i class="fa-solid fa-download"></i></a>
                                <a routerLink="#" class="btn btn-outline-info"><i class="fa-solid fa-barcode"></i></a>
                                <span class="ms-5">
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #36b125;"></i>
                                </span>
                            </p>
                        </div>

                        <div class="card m-3 paymentCard">
                            <p class="fw-bold mt-4 ms-4">RICARDO TADEU SPERLONGO </p>
                            <p class="ms-4">897.646.880-55 - R$ 100,00 (Qua, 11 de Out de 2023 às 8:30) 
                                <a routerLink="/attendant/invoice" class="btn btn-outline-info ms-5 me-1"><i class="fa-solid fa-pen"></i></a>
                                <a routerLink="#" class="btn btn-outline-info me-1"><i class="fa-solid fa-qrcode"></i></a>
                                <a routerLink="#" class="btn btn-outline-info me-1"><i class="fa-solid fa-file-word"></i></a>
                                <a routerLink="#" class="btn btn-outline-info me-1"><i class="fa-solid fa-file-pdf"></i></a>
                                <a routerLink="#" class="btn btn-outline-info me-1"><i class="fa-solid fa-download"></i></a>
                                <a routerLink="#" class="btn btn-outline-info"><i class="fa-solid fa-barcode"></i></a>
                                <span class="ms-5">
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #36b125;"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
