<app-header></app-header>
<div class="container-fluid bg-body-secondary bg-gradient vh-100">
    <div class="row align-items-center">
        <div class="col-2 bg-primary-subtle vh-100">
            <app-sidebar-operator></app-sidebar-operator>
        </div>
        <div class="col-10 vh-100">
            <div class="row justify-content-between m-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 p-2">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Menu Principal</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Painel Gerador Boleto - PIX / Operador
                        </li>
                    </ol>
                </nav>
                <div class="col-4 mt-4">
                    <div class="card">
                        <div class="alert alert-info m-4" role="alert">
                            <h5><i class="fa-solid fa-circle-info"></i>Atenção</h5>
                            <p class="alert-font">Aguarde o recebimento dos boletos dos usuários para preencher o código
                                de barras.</p>
                        </div>
                        <div class="card m-3">
                            <button class="btn btn-outline-info fw-bolder mb-2" routerLink="invoice"><i class="fa-solid fa-barcode me-2"></i>Emitir Boleto de Pagamento</button>
                            <button class="btn btn-outline-info fw-bolder" routerLink="pix"><i class="fa-solid fa-qrcode me-2"></i>Emitir Pix de Pagamento</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="card">
                        <div class="alert alert-warning m-5" role="alert">
                            <p>Aguardando Emissão de Pagamentos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>