<app-header></app-header>
<div class="container-fluid bg-body-secondary bg-gradient vh-100">
  <div class="row align-items-center">
    <div class="col-2 bg-primary-subtle vh-100">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 vh-100">
      <div class="row justify-content-between m-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-3 p-2">
            <li class="breadcrumb-item active" aria-current="page">Menu Principal</li>
          </ol>
        </nav>
        <div class="col-2 mt-4">
          <div class="card" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Qtd Consultas</h5>
              <span class="fw-normal text-nowrap">
                <i class="fa-regular fa-file me-2">file</i>
                99779
              </span>
            </div>
          </div>
        </div>
        <div class="col-2 mt-4">
          <div class="card" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Débitos consultados</h5>
              <span class="fw-normal text-nowrap">
                <i class="fa-regular fa-file-lines me-2">file</i>
                221
              </span>
            </div>
          </div>
        </div>
        <div class="col-2 mt-4">
          <div class="card" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Boletos Gerados</h5>
              <span class="fw-normal text-nowrap">
                <i class="fa-solid fa-barcode me-2">file</i>
                0,00
              </span>
            </div>
          </div>
        </div>
        <div class="col-2 mt-4">
          <div class="card" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Pix Gerados</h5>
              <span class="fw-normal text-nowrap">
                <i class="fa-solid fa-qrcode me-2">file</i>
                0,00
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>