<app-header></app-header>
<div class="container-fluid bg-light bg-gradient">
    <div class="row align-items-center">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10">
           <div class="row justify-content-between m-5">
                <div class="col-2">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                          <h5 class="card-title">Qtd Consultas</h5>
                          <i class="fa-solid fa-bus">bus</i>
                          <p class="card-text">99779</p>
                        </div>
                      </div>
                </div>
                <div class="col-2">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                          <h5 class="card-title">Débitos consultados</h5>
                          <p class="card-text">221</p>
                        </div>
                      </div>
                </div>
                <div class="col-2">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                          <h5 class="card-title">Boletos Gerados</h5>
                          <p class="card-text">0,00</p>
                        </div>
                      </div>
                </div>
                <div class="col-2">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                          <h5 class="card-title">Pix Gerados</h5>
                          <p class="card-text">2.848,88</p>
                        </div>
                      </div>
                </div>
           </div>
        </div>
    </div>
</div>
