$default: #093a5e;
$color-1: #38a1b3 ;
$color-2: #aaddff;
$color-3: #8a8989;
$default: #093a5e;
$title: #020e33;
$font-size: 14px;

//components
$alert: #ee3f3f;
$card-1: #d4d3e0a9;
$card-2: #f0e7e7;
$form-1: #444444;


