@import 'variables.scss';


h2 {
    font-size: 18px;
    font-weight: bold;
    color: $color-1
}

.card {
    border: solid 1px $card-1;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem $card-2;
    height: fit-content;
    background-color: white;
}

.form-control {
    border-radius: 0;
    border: solid 1px $form-1;
    height: fit-content;
  }
  
  .btn {
    border-radius: 0;
  }

  .alert {
    border-radius: 0;
    font-size: 14px;
  }

  label {
    font-size: $font-size;
  }

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
